@model tblHouse

    <div class="row">
        <div class="col-sm-12">
            <label>@Resource.Category: </label> <span>@Model.Category</span>
        </div>
        <div class="col-sm-12">
            <label>@Resource.Street: </label> <span>@Model.Street</span>
        </div>
        <div class="col-sm-12">
            <label>@Resource.PostCode: </label> <span>@Model.PostCode</span>
        </div>
        <div class="col-sm-12">
            <label>@Resource.City: </label> <span>@Model.City</span>
        </div>
        <div class="clearfix"></div>
    </div>