@model tblRentalProperty


<div class=" row">
    <div class="col-sm-12">
        <label>@Resource.EWID: </label> <span>@Model.EWID</span>
    </div>
    <div class="col-sm-12">
        <label>@Resource.Living_Area_Square_Meters: </label> <span>@Model.LivingAreaSquareMeters</span>
    </div>
    <div class="col-sm-12">
        <label>@Resource.Room_Count: </label> <span>@Model.RoomCount</span>
    </div>
    <div class="col-sm-12">
        <label>@Resource.Floor: </label> <span>@Model.Floor</span>
    </div>
    <div class="col-sm-12">
        <label>@Resource.Location: </label> <span>@Model.Location</span>
    </div>
    <div class="clearfix"></div>
</div>