@model tblUser

<div class="modal fade" id="AddEditUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Resource.Add_Edit_User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/" method="post" id="frmUserSubmit">
                    <input type="hidden" id="hdfId" asp-for="Id" />
                    <input type="hidden" id="hdfUserScreen" name="Screen" />
                    <div class="form-group">
                        <span>@Resource.Email</span>
                        <input type="text" class="form-control" asp-for="Email" id="txtEmail" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <span>@Resource.Password</span>
                        <input type="password" class="form-control" asp-for="Password" id="txtPassword" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </form>

            </div>
            <div class="modal-footer bg-whitesmoke br">
                <button type="button" class="btn btn-primary" id="btnAddEditUser">@Resource.Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resource.Close</button>
            </div>
        </div>
    </div>
</div>
