@model tblTenancy

<div class="row">
    <div class="col-sm-12">
        <label>@Resource.Tenant: </label> <span>@(Model.tblTenant == null ? "" : Model.tblTenant.FirstName + " " + Model.tblTenant.LastName)</span>
    </div>
    <div class="col-sm-12">
        <label>@Resource.RentalStartDate: </label> <span>@(string.Format("{0:MM/dd/yyyy}",Model.RentalStartDate))</span>
    </div>
    <div class="col-sm-12">
        <label>@Resource.RentalEndDate: </label> <span>@(Model.RentalEndDate == null?"": string.Format("{0:MM/dd/yyyy}",Model.RentalEndDate))</span>
    </div>
    <div class="col-sm-12">
        <label>@Resource.RentalCostNetMonthly: </label> <span>@Model.RentalCostNetMonthly</span>
    </div>
    <div class="col-sm-12">
        <label>@Resource.RentalAdditionalCostsAkonto: </label> <span>@Model.RentalAdditionalCostsAkonto</span>
    </div>
    <div class="col-sm-12">
        <label>@Resource.FirstName: </label> <span>@Model.tblTenant.FirstName</span>
    </div>
    <div class="col-sm-12">
        <label>@Resource.LastName: </label> <span>@Model.tblTenant.LastName</span>
    </div>
    <div class="col-sm-12">
        <label>@Resource.DateOfBirth: </label> <span>@(string.Format("{0:MM/dd/yyyy}",Model.tblTenant.DateOfBirth))</span>
    </div>
    <div class="col-sm-12">
        <label>@Resource.Rate: </label>  
        <div class="d-inline-block">
            <div class="rating-container">
                @{var rate = Model.tblTenant.Rate;}
                 <label for="star-1" class="@(rate >= 1 ? "gold" : "")"><i class="fa fa-star"></i></label>
                 <label for="star-2" class="@(rate >= 2 ? "gold" : "")"><i class="fa fa-star"></i></label>
                 <label for="star-3" class="@(rate >= 3 ? "gold" : "")"><i class="fa fa-star"></i></label>
                 <label for="star-4" class="@(rate >= 4 ? "gold" : "")"><i class="fa fa-star"></i></label>
                 <label for="star-5" class="@(rate >= 5 ? "gold" : "")"><i class="fa fa-star"></i></label>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>