@model tblTenancy
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/Tenancy/Index/@Model.RentalPropertyId" class="btn btn-warning mb-3"> @Resource.Back</a>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <a href="javascript:;" onclick="DeleteTenancy('@Model.Id', '@Model.RentalPropertyId')" class="btn btn-danger pull-right ml-2">@Resource.Delete</a>
                <a href="Javascript:;" onclick="EditTenancy()" class="btn btn-info pull-right">@Resource.Edit</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="card-body" id="divTenancyDetail">
        @Html.Partial("_TenancyDetail", Model)
    </div>
</div>
@Html.Partial("_AddEditTenancy", Model)

<script>
        $(document).on("click", "#btnAddEditTenancy", function () {
        var frm = $("#frmTenancySubmit");
        if (frm.valid()) {
            $(".loader").show();
            $.post("/Tenancy/AddEdit", frm.serialize(), function (res) {
                $(".loader").hide();
                if (res.message != undefined) {
                    swal("", "" + res.message, "error");
                    return false;
                }
                $("#divTenancyDetail").html(res);
                $(document).find("#AddEditTenancy").modal("hide");
                swal("", "@Resource.Your_has_been_saved_successfully_", "success");
            });
        }
    });

    function DeleteTenancy(Id,rentalId) {
        swal({
            title: "@Resource.Are_you_sure_",
            text: "@Resource.you_want_to_delete_this_record_",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes",
            cancelButtonText: "No",
            closeOnConfirm: false,
            closeOnCancel: true
        },
            function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        type: 'Post',
                        url: "/Tenancy/Delete",
                        data: { Id: Id },
                        success: function (result) {
                            location.href = "/Tenancy/Index/" + rentalId + "?del";
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                        }
                    });
                }
            });
    }
    function EditTenancy(Id) {
        $(document).find("#hdfTenancyScreen").val("Detail");
            $("#AddEditTenancy").modal("show");
    }
</script>